*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Rubik', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1.6rem;
	background-color: #F0F6F7;
	color: #576f7f;
}

.container {
	margin: 0 auto;
	max-width: 1300px;
	width: 90%;
	height: 100%;
}

a {
	text-decoration: none;
}

header {
	margin: 30px 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.navbar ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
	width: 160px;
}

.nav-links {
	color: #555;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
}

.main figure {
	margin: 50px auto 0 auto;
	height: 26vh;
	width: 60%;
}

.main-text {
	width: 100%;
	margin: 10px auto 10px auto;
	text-align: center;
}

.main-text h2 {
	color: #248fc3;
	font-size: 45px;
	font-family: 'Quicksand', 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	text-shadow: 2px 2px 5px #D9D9D9;
	text-align: center;
}

.main-text p {
	color: #248FC3;
	margin: 30px;
	font-family: rubik, sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.main .notify-form {
	margin: 0 auto;
}

.footer {
	width: 60%;
	height: auto;
	margin: 50px auto 20px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
}

.love-svg {
	width: 30px;
	height: 30px;
}

.show-love button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.show-love, .show-love-form {
	display: flex;
	align-items: center;
}

.show-love p {
	font-size: 14px;
	margin-right: 10px;
	font-family: rubik, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #248FC3;
}

.love-count {
	font-size: 14px;
	font-size: 14px;
	margin-left: 10px;
	font-family: rubik, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #248FC3;
}

.notify-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 60%;
	margin-bottom: 80px;
}

.email {
	padding: 10px;
	border: 1px solid rgb(36, 143, 195);
	outline: none;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 65%;
	flex: 1 1 65%;
	background-color: #F0F6F7;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #555;
}

.email::-webkit-input-placeholder {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
	text-transform: uppercase;
}

.email:-ms-input-placeholder {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
	text-transform: uppercase;
}

.email::-webkit-input-placeholder {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
}

.email:-ms-input-placeholder {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
}

.email::placeholder {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #C0C0C0;
	text-transform: uppercase;
}

.submit-btn {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 35%;
	flex: 0 1 35%;
	text-align: center;
	padding: 10px;
	background-color: rgb(36, 143, 195);
	outline: none;
	border: 1px solid rgb(36, 143, 195);
	color: #fff;
}

.socials {
	min-width: 20%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.saucer {
	height: 99%;
	width: 99%;
	z-index: -1;
	position: relative;
	-webkit-animation: flying 3s infinite ease-in-out alternate;
	animation: flying 3s infinite ease-in-out alternate;
}

@-webkit-keyframes flying {
	from {
		left: 0;
		-webkit-transform: skew(-5deg, -5deg);
		transform: skew(-5deg, -5deg);
	}
	to {
		left: 20px;
		-webkit-transform: skew(5deg, 10deg);
		transform: skew(5deg, 10deg);
	}
}

@keyframes flying {
	from {
		left: 0;
		-webkit-transform: skew(-5deg, -5deg);
		transform: skew(-5deg, -5deg);
	}
	to {
		left: 20px;
		-webkit-transform: skew(5deg, 10deg);
		transform: skew(5deg, 10deg);
	}
}


/* Media Queries */

@media only screen and (max-width: 510px) {
	header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		text-align: center;
	}
	.main figure {
		margin: 10px auto 0 auto;
		height: 20vh;
	}
	.main-text h2 {
		font-size: 40px;
		letter-spacing: 5px;
	}
	.notify-form {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 70%;
		margin-bottom: 40px;
	}
	.email::-webkit-input-placeholder {
		text-align: center;
	}
	.email:-ms-input-placeholder {
		text-align: center;
	}
	.email::placeholder {
		text-align: center;
	}
	.footer {
		margin: 50px auto 20px auto;
		flex-direction: column;
	}
	.show-love {
		margin: 10px auto;
		flex-direction: column;
	}
	.socials {
		min-width: 60%;
		margin-top: 10px;
	}
	.show-love span {
		margin-right: 0px;
	}
}


/* svg styles */


/* devaccent logo styles */

.str0 {
	stroke: black;
	stroke-width: 8.56881
}

.filc {
	fill: none;
	fill-rule: nonzero
}

.filb {
	fill: black;
	fill-rule: nonzero
}

.fila {
	fill: #248FC3;
	fill-rule: nonzero;
}